<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controller Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,200;12..72,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/mvc/model">Model</a>
        <a href="/mvc/view">View</a>
        <a href="/mvc/controller">Controller</a>
        <a href="/quiz">Quiz!</a>
    </nav>
    <section class="container">
        <h1>What does the controller do?</h1>
        <p>It connects the model and the view. The controller receives input from view, uses logic to translate the input to a demand for the model, the model grabs the data, the controller passes data from the model back to the view for the user to see in a display on their browser.</p>
        <p>Requests from the user are routed and sent through the controller to 
            the appropriate roots/locations depending on the request
        </p>
        <img src="/images/controller.png" alt="controller example">
        <p>The controller really has its hands in all the pies here - it is interacting and connecting nearly all parts of the system and is the core component of the MVC architecture.</p>
    </section>
    
</body>
</html>