<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,200;12..72,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/mvc/model">Model</a>
        <a href="/mvc/view">View</a>
        <a href="/mvc/controller">Controller</a>
        <a href="/quiz">Quiz!</a>
    </nav>
    <section class="container">
        <h1>What does the model do?</h1>
        <p>It is used to communicate between the database and the controller</p>
        <img src="/images/model.png" alt="model example">
        <p>It contains the structure of application information - if you're using 
            Mongoose, it's a schema. This will be used to dictate format and organization of the data in the database
        </p>
    </section>
    <section class="container">
        <h2>What is Mongoose? ..and what are Shemas???</h2>

<p>Mongoose is a way to map mongoDB documents to Javascript objects. It's a bridge that connects the backend program with a mongoDB service. You can use Mongoose to define requirements for a data model, known as a Schema. This helps to give structure and organization to the mongoDB. </p>
<p>Schema Example:</p>
        <img src="/images/schema.png" alt="schema example">
    </section>
    
</body>
</html>