<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,200;12..72,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/mvc/model">Model</a>
        <a href="/mvc/view">View</a>
        <a href="/mvc/controller">Controller</a>
        <a href="/quiz">Quiz!</a>
    </nav>
    <section class="container">
        <h1>What does the view do?</h1>
        <p>It contains all functionality that directly interacts with the user, such as presenting a page or clicking a button.</p>
        <p>It is reuseable and configurable to display different data</p>
        <img src="https://www.guru99.com/images/1/122118_0445_MVCTutorial1.png" alt="that's me, the monkey">
    </section>
    
</body>
</html>